<%- include('../partials/header.ejs') %>
    <%- include('../partials/navbar.ejs') %>
    <section class="content">
        <h1 class="heading">Add Subject</h1>
        <form action="/admin/add-subject"  method="POST">

            <input type="text" name="title" placeholder="title">
            
            <select name="semester">
                <option>1</option>
                <option>2</option>
                <option>3</option>
                <option>4</option>
                <option>5</option>
                <option>6</option>
                <option>7</option>
                <option>8</option>
            </select>
            
            <button type="submit">submit</button>

        </form>
    </section>
<%- include('../partials/footer.ejs') %>
