
    <nav>
            <ul class="flex">
                <li>
                    <p><a href="/" class="logo">E-Botes</a></p>
                </li>
                <li style="margin-left: auto">
                    <p>Download EBooks, ENotes, etc.</p>
                </li>
            </ul>
        </nav>