
    <nav>
        <a href="/" id="logo"> <img src="/icons/library_64.png" style="vertical-align: bottom;" alt="" srcset=""> E-Library</a>
        <a class="right subtext"> download ebooks, enotes, and previous exam papers </a>
    </nav>