<%- include('./partials/header.ejs') %>
    <%- include('./partials/navbar.ejs') %>
    <section class="content">
        <h1 class="heading">EBooks</h1>
        <ul>
            <li>
                <figure>
                    <img src="/images/vk-mehta.png" alt="">
                    <figcaption>
                        <h2>Analog Circuits</h2> <!-- we will fill the link with mongodb id. localhost:8080/subject/id -->
                        <p>2nd Year, 3rd Semester</p>
                    </figcaption>
                </figure>
            </li>
        </ul>
    </section>
    <section class="content">
            <h1 class="heading">ENotes</h1>
            <ul>
                <li>
                    <figure>
                        <img src="/images/vk-mehta.png" alt="">
                        <figcaption>
                            <h2>Analog Circuits</h2> <!-- we will fill the link with mongodb id. localhost:8080/subject?=id -->
                            <p>2nd Year, 3rd Semester</p>
                        </figcaption>
                    </figure>
                </li>
            </ul>
    </section>
<%- include('./partials/footer.ejs') %>